body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background: lightskyblue;
}
.clocks
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    border: 2px solid green;
}
.clocks .part1
{
    height: 580px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid salmon;
}
.clocks .part2
{
    height: 580px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid salmon;
}
.circle h2
{
    color: red;
    position: absolute;
    top: 60px;
    font-size: 50px;
}
.circle
{
    height: 200px;
    width: 200px;
    border: 10px solid blue;
    background: yellow;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black, 
            -1px -1px 5px black,
             inset 1px 1px 5px black,
             inset -1px -1px 5px black;
}
.circle .fa-arrow-up
{
    display: block;
    text-align: center;
    font-size: 100px;
    color: red;
    text-shadow:  1px 1px 5px black, 
    -1px -1px 5px black;
    animation:clock 12s steps(12) infinite;
    transform-origin: bottom;
}
@keyframes clock {
    from
    {
        transform: rotateZ(0deg) scaleX(.1);
    }  
    to
    {
        transform: rotateZ(360deg) scaleX(1.2);
    }
} 


.circle2
{
    height: 200px;
    width: 200px;
    border: 20px solid crimson;
    border-radius: 50%;
    position: relative;
    top: 0;
    bottom: 0; right: 0; left: 0;
    margin: auto;
}
.spin
{
    height: 90px;
    width: 20px;
    background: crimson;
    border-radius: 10px;
    position: absolute;
    top: 70px; bottom: 0px; right: 0px; left: 685px;
    margin: auto;
    animation: clock2 2s linear infinite;
    transform-origin: top;
}
@keyframes clock2 {
    from
    {
        transform: rotateZ(0deg);
    }
    to
    {
        transform: rotateZ(360deg);
    }    
}
.circle2 h2
{
    color: yellow;
    position: absolute;
    top: -130px;
    left: -20px;
    font-size: 50px;
}