*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background-color:#2970b9;
}
.face{
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
background-color:#ffcd00;
position:"relative";
width:300px;
height:300px;
}
.face::before{
content:"";
background-color:#b57700;
width:150px;
height:70px;
position:absolute;
top:350px;
border-bottom-right-radius:70px;
border-bottom-left-radius:70px;
transition:0.5s;

}
.face:hover::before{
top:360px;
background-color:#b57700;
height:30px;
width:150px;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
}
.eyes{
border:2px solid black;
position:relative;
top:-60px;
display:flex;
}
.eyes .eye{
background:#fff;
width:80px;
height:80px;
position:relative;
border-radius:50%;
margin:0 15px;
}
.eyes  .eye::before
{
content:"";
background:#333;
width:40px;
height:40px;
position:absolute;
top:50%;
border-radius:50%;
right:40%;
transform:translate(-0.1%,-40%);
}