*{margin:0px;
padding:0px;
box-sizing:border-box;
}
body{
background:#4964a5;
min-height:100vh;
justify-content:center;
align-items:center;
display:flex;
}
.bird{position:absolute;
width:400px;
height:400px;
}
.head{
position:absolute;
width:400px;
height:400px;
background:red;
border-radius:50%;
border:3px solid #000801;
overflow:hidden;
box-shadow:10px 3px 10px 3px grey;
}
.head:before{
content:'';
position:absolute;
width:300px;
height:300px;
background:yellow;
border-radius:50%;
top:64%;
left:15%;
}
.tail-middle, .tail-top, .tail-bottom{
position:absolute;
width:80px;
height:80px;
clip-path:polygon(0 27%, 100% 40%, 100% 68%, 0 79%);
background:#000801;
}
.tail-middle{
top:36%; left:-17%;}
.tail-top{
top:30%; left:-8%;
transform:rotate(35deg);}
.tail-bottom{
top:44%; left:-11%;
transform:rotate(-25deg);
}
.eyebrow-right{
position:absolute;
width:140px;
height:50px;
background:#000801;
top:20%;
right:15%;
transform:rotate(-8deg);
z-index:10;
}
.eyebrow-left{
position:absolute;
width:140px;
height:50px;
background:#000801;
top:20%;
left:17%;
transform:rotate(8deg);
z-index:10;
}
.eye-right{
position:absolute;
width:120px;
height:120px;
background:#fff;
top:25%;
right:20%;
border-radius:50%;
box-shadow:10px 3px 10px 3px #ab0024;
border:3px solid #000;
}
.eye-right:before{
content:'';
position:absolute;
width:40px;
height:40px;
border-radius:50%;
background:#000;
top:25%;
left:25%;
}
.eye-right:after{
content:'';
position:absolute;
width:10px;
height:10px;
border-radius:50%;
background:#fff;
top:30%;
left:43%;
}


.eye-left{
position:absolute;
width:120px;
height:120px;
background:#fff;
top:25%;
left:21%;
border-radius:50%;
box-shadow:-10px 3px 10px 3px #ab0024;
border:3px solid #000;
}
.eye-left:before{
content:'';
position:absolute;
width:40px;
height:40px;
border-radius:50%;
background:#000;
top:25%;
right:25%;
}
.eye-left:after{
content:'';
position:absolute;
width:10px;
height:10px;
border-radius:50%;
background:#fff;
top:30%;
right:30%;
}
.beak{
content:'';
position:absolute;
width:110px;
height:110px;
background:#fca90d;
border:3px solid #000;
border-radius:29% 0% 5% 0%;
transform:rotate(42deg);
top:48%;
left:37%;
}
.beak:before{
content:'';
position:absolute;
width:150px;
height:1px;
background:#000;
transform:rotate(-45deg);
bottom:48%;
right:-22%;
border:1px solid #000;
}
.hair{
content:'';
position:absolute;
width:55px;
height:110px;
background:red;
transform:rotate(-45deg);
top:-67px;
left:44%;
border:3px solid #000801;
border-radius:50%;
}
.hair:before{
content:'';
position:absolute;
width:55px;
height:110px;
background:red;
transform:rotate(-27deg);
top:-30px;
left:-75%;
border:3px solid #000801;
border-radius:50%;
}


