:root {
    --green:#ff4a68;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0.1);
    --outline: .5rem solid rgba(60, 0, 255, 0.926);

}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    background-color: white;
    margin-top: 100px;
}

body {
    background: #eee;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    background: none;
    margin-bottom: 20px;
}

.btn:hover {
    background: darkblue;
    color: #fff;
    border: .2rem solid #ff4a68;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: powderblue;
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 50px 50px;
}
.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo .title {
    margin-left: 300px;
    color:darkblue;
    font-size: 70px;
    font-weight: 800;
    font-family: algerian;
}

.header .logo img {
    width: 180px;
    height: 100px;
    color: var(--green);
    margin-left: -50px;
}
.header .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .icons div {
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2.5rem;
    margin-right: .8rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div img {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    padding: 2px;
}

.header .icons div:hover {
    background: var(--green);
    color: white;
}

#menu-btn {
    display: none;
}

.header .navbar2.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form {
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    overflow: hidden;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--green);
}

.header .shopping-cart {
    border: 0px solid blue;
    padding: 1rem;
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart .box {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .bxs-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .bxs-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form {
    width: 35rem;
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--green);
    text-decoration: underline;
}

.header2 {
    height: 140px;
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: dodgerblue;
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 50px 50px;
}
.header2 .navbar2 a {
    font-size: 20px;
    margin: 0 1rem;
    color: var(--black);
    text-align: center;
    margin-right: 20px;
}
.header2 .navbar2 a:hover {
    color: yellow;
    font-weight: bold;
}
.header2 .navbar2
{
    margin-top: 75px;
}
/* banner */

.home {
    border: 1px solid;
    display: flex;
    justify-content: center;
    background: url(mycafe3.png) no-repeat;
    background-position: 1%;
    background-size: cover;
    padding-top: 120px;
    margin-top: 60px;
    /* border: 0px solid red;   
    background-color: skyblue;
    margin-bottom: 10px;
    border-radius: 30%;  */
    padding-bottom: 1%;
}

.home .content {
    border: 0px solid;
    text-align: center;
    width: 60rem;
    /* position: relative;    
    left: 34%;*/
    background-color: rgba(255, 192, 203, 0.697);
    border-radius: 40px;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
    color: darkblue;
}

.home .content h3 span {
    color: var(--green);
}

.home .content p {
    font-weight: 600;
    color: red;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

/* features */
.features .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    outline: var(--outline);
    outline-offset: -1rem;
    /* border: 2px solid red; */
    padding: 3rem 2rem;
    background: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img {
    margin: 1rem 0;
    width: 60%;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* products */
.products .product-slider {
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem;
}

.products .product-slider .box {
    border: 0px soldi;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

.products .product-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img {
    height: 20rem;
}

.products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price {
    font-size: 2rem;
    color: var(--black);
    padding: .5rem 0;
}

.products .product-slider .box .stars img {
    width: 35px;
    height: 35px;
    padding: .5rem 0;
}

/* categories */
.categroies .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categroies .box-container .box {
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
    outline: var(--outline);
    text-align: center;
}

.categroies .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categroies .box-container .box img {
    margin: 1rem 0;
    width: 150px;
    height:150px;
}

.categroies .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categroies .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* review */
.review .review-slider {
    border: 0px solid;
    padding: 1rem;
}

.review .review-slider .box {
    border: 0px soldi;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

.review .review-slider .box:hover {
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
}

.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars img {
    width: 25px;
    height: 25px;
}

/* blogs */
.blogs .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.small-icon {
    width: 35px;
    height: 35px;
    margin-right: .7rem;
}

.blogs .box-container .box .blog-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.blogs .box-container .box .content {
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
    text-align: center;
}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a img {
    padding-right: .1rem;
}

.blogs .box-container .box .content .icons a img:hover {
    border: 3px solid var(--green);
    transition: 0.3s;
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    padding: .5rem 0;
    color: var(--black);
    line-height: 1.8;
}

.blogs .box-container .box .content p {
    color: var(--light-color);
    line-height: 1.4;
    font-size: 1.5rem;
    padding: .5rem 0;
}

/* footer */
.footer {
    background: #fff;
}

.footer .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    font-size: 1.9rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 img {
    border: 2px solid var(--green);
}

.footer .box-container .box .links {
    display: block;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links img {
    border: 2px solid var(--green);
}

.footer .box-container .box .links:hover img {
    margin-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a img {
    border: 2px solid var(--black);
}

.footer .box-container .box .share a img:hover {
    border: 2px solid var(--green);
}

.footer .box-container .box .email {
    margin: .7rem 0;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}

.footer .credit span {
    color: var(--green);
}







@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header .icons div img {
        margin-top: 4px;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        width: 30rem;
        box-shadow: var(--box-shadow);
        position: absolute;
        top: 110%;
        right: -110%;
        border-radius: .5rem;
        background-color: #fff;
    }

    .header .icons div img {
        margin-top: 4px;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        font-size: 24px;
    }
}